header 
{
    height: 8%;
    color: red;
    border: 10px;
    border-color: red;
    background-color: aqua;
    text-align-last: center;
    padding: 20px;
    border-radius: 5px;
}
#art1 
{
    width: 80%;
    height: 80%;
    color: white;
    background: black;
    padding: 10px;
    margin: 10px;
}
#art2 
{
    width: 80%;
    height: 80%;
    color: white;
    background: black;
    padding: 10px;
    margin: 10px;
}
#content 
{
    height: 90%;
    border: 10px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-right: 90px;
}
footer 
{
    height: 7%;
    color: whitesmoke;
    border: 10px;
    border-color: brown;
    background-color: aqua;
    text-align-last: center;
    padding: 20px;
    border-radius: 5px;
    padding: 10px;
    margin: 30px;
}
@media (max-width : 768px) {
    #content
    {
        width: 100%;
        margin: 2%;
    }
   /* header
    {
        width: 100%;
        margin: 2%;
    }
    footer
    {
        width: 100%;
        margin: 2%;
    } */
}